<a href="https://colab.research.google.com/github/ArunKoundinya/AIBasicswithAK/blob/master/AIVlogs/slides/season02/episode08/lists_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
empty_list = [ ]
empty_list

[]

In [1]:
var = [1,2,3,4]
type(var)

list

In [3]:
print(var[0])
print(var[1])
print(var[2])
print(var[3])

1
2
3
4

In [6]:
var = [ "a", True , 3 ]
print(type(var))
print("")
print(type(var[0]))
print(type(var[1]))
print(type(var[2]))

<class 'list'>

<class 'str'>
<class 'bool'>
<class 'int'>

In [8]:
var = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(var[0])
print(type(var[0]))
print(var[0][0])
print(type(var[0][0]))

[1, 2, 3]
<class 'list'>
1
<class 'int'>

In [16]:
[1] * 5

[1, 1, 1, 1, 1]

In [14]:
[1] + 5

TypeError: can only concatenate list (not "int") to list

In [15]:
[1] / 5

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [19]:
[1,2,3] + [1]

[1, 2, 3, 1]

In [20]:
[1,2,3] - [1]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [21]:
[1,2,3] * [1]

TypeError: can't multiply sequence by non-int of type 'list'

In [22]:
[1,2,3] / [1]

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [35]:
var = [1,2,3]
var[0] = 10
print(var)

[10, 2, 3]

In [36]:
var2 = var
var2

[10, 2, 3]

In [37]:
var2[0] = 100
print(var)

[100, 2, 3]

In [34]:
var1 = 1
var = var1
var = 5
print(var1)

1

In [41]:
var = [1,2,3]
var1 = var.copy()
var1[0]= 100
print(var)
print(var1)

[1, 2, 3]
[100, 2, 3]

In [42]:
 empty_tuple = ()
 empty_tuple

()

In [44]:
var = (1,2,3,4)
type(var)

tuple

In [46]:
print(var[0])
print(var[1])
print(var[2])
print(var[3])

1
2
3
4

In [48]:
print(type(var[0]))

<class 'int'>

In [49]:
var = ( "a", True , 3 )
print(type(var))
print("")
print(type(var[0]))
print(type(var[1]))
print(type(var[2]))

<class 'tuple'>

<class 'str'>
<class 'bool'>
<class 'int'>

In [50]:
var1 = (1, 2, 3)
var2 = (4, 5, 6)
var3 = var1 + var2
print(var3)

(1, 2, 3, 4, 5, 6)

In [51]:
var1 * var2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [54]:
var4 = (3) * 3
print(var4)

var4 = [3] * 3
print(var4)

9
[3, 3, 3]

In [55]:
var4 = (1,3) * 3
print(var4)

var4 = [1,3] * 3
print(var4)

(1, 3, 1, 3, 1, 3)
[1, 3, 1, 3, 1, 3]

In [61]:
var4 = (3) * 3
print(type((3)))

<class 'int'>

In [68]:
var4 = (3,) * 3
print(var4)
print(type((3,)))

(3, 3, 3)
<class 'tuple'>

In [63]:
list1 = [1, 2, 3]
tuple1 = tuple(list1)
print(type(list1))
print(type(tuple1))

<class 'list'>
<class 'tuple'>

In [64]:
tuple2 = (4, 5, 6)
list2 = list(tuple2)
print(type(tuple2))
print(type(list2))

<class 'tuple'>
<class 'list'>

In [65]:
var = (1,2,3)
var[0] = 10

TypeError: 'tuple' object does not support item assignment

In [66]:
var = (1, 2, 3)
new_var = (10,) + var[1:]
print(new_var)

(10, 2, 3)

In [69]:
new_var = var[:1] + (20,) + var[2:]
print(new_var)

(1, 20, 3)