<a href="https://colab.research.google.com/github/ArunKoundinya/AIBasicswithAK/blob/master/AI_Vlogs/slides/season02/episode12/Lamba_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def my_firstfunction():
  print("My First Function")


my_firstfunction()

My First Function

In [3]:
my_firstfunction = lambda : print("My First Function")
my_firstfunction()

My First Function

In [10]:
def sum_of_numbers(num1,num2):
  total = num1 + num2
  return total

sum_of_numbers(30,70)

100

In [11]:
sum_of_numbers = lambda x, y: x + y
sum_of_numbers(30,70)

100

In [12]:
def area_of_circle(radius):
  return 3.14 * radius ** 2

area_of_circle(3)

28.26

In [5]:
area_of_circle = lambda radius :  3.14 * radius ** 2
area_of_circle(3)

28.26

In [13]:
def sum_of_n_numbers(n):
  if n == 0:
    return 0
  else:
    return n + sum_of_n_numbers(n-1)

sum_of_n_numbers(4)

10

In [8]:
sum_of_n_numbers = lambda n : 0 if n == 0 else n + sum_of_n_numbers(n-1)
sum_of_n_numbers(4)

10

In [16]:
def is_even(num):
  return num % 2 == 0

print("UsingFunction:",is_even(4))
is_even = lambda num: num % 2 == 0
print("Using_LambdaFunction:",is_even(4))

UsingFunction: True
Using_LambdaFunction: True

In [19]:
def my_sum(*args):
  total = 0
  for num in args:
    total = total + num
  return total

print(my_sum(1, 2, 3, 4, 5))
print(my_sum(30,60))

15
90

In [32]:
def my_sum(num1=2,num2=3,*args):
  total = num1+num2
  for num in args:
    total = total + num
  return total

print(my_sum())
print(my_sum(1, 2, 3))
print(my_sum(5*6))
print(my_sum(5*6,0))

5
6
33
30

In [33]:
def my_sum(num1=2,num2=3,*args):
  total = num1+num2+sum(args)
  return total

print(my_sum())
print(my_sum(1, 2, 3))
print(my_sum(5*6))
print(my_sum(5*6,0))

5
6
33
30

In [34]:
my_sum = lambda num1=2,num2=3,*args: num1+num2+sum(args)
print(my_sum())
print(my_sum(1, 2, 3))
print(my_sum(5*6))
print(my_sum(5*6,0))

5
6
33
30

In [35]:
def squared(numbers):
  squared_list = []
  for num in numbers:
    squared_list.append(num ** 2)
  return squared_list

numbers = [1, 2, 3, 4, 5]
print(squared(numbers))

[1, 4, 9, 16, 25]

In [38]:
[num**2 for num in numbers]

[1, 4, 9, 16, 25]

In [39]:
squared = lambda numbers: [num ** 2 for num in numbers]
print(squared(numbers))

[1, 4, 9, 16, 25]