<a href="https://colab.research.google.com/github/ArunKoundinya/AIBasicswithAK/blob/master/AI_Vlogs/slides/seasons02/episode11/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def my_firstfunction():
  print("My First Function")


my_firstfunction()

My First Function

In [2]:
def my_secondfunction(num):
  print(f"Number called in function is {num}")

In [3]:
my_secondfunction(1)
my_secondfunction(10)

Number called in function is 1
Number called in function is 10

In [4]:
def my_thirdfunction(num1,num2):
  print(f"Numbers called in function is {num1} & {num2}; And their total is {num1+num2}")

In [5]:
my_thirdfunction(1,10)
my_thirdfunction(30,70)

Numbers called in function is 1 & 10; And their total is 11
Numbers called in function is 30 & 70; And their total is 100

In [6]:
def sum_of_numbers(num1,num2):
  total = num1 + num2

sum_of_numbers(30,70)

In [7]:
def sum_of_numbers(num1,num2):
  total = num1 + num2
  return total

sum_of_numbers(30,70)

100

In [8]:
def sum_of_numbers(num1,num2):
  return num1 + num2

sum_of_numbers(30,70)

100

In [9]:
def area_of_circle(radius):
  return 3.14 * radius ** 2

area_of_circle(3)

28.26

In [18]:
def sum_of_n_numbers(n):
  total = 0
  for i in range(n+1):
    total = total + i
  return total

sum_of_n_numbers(4)

10

In [20]:
def sum_of_n_numbers(n):
  if n == 0:
    return 0
  else:
    return n + sum_of_n_numbers(n-1)

sum_of_n_numbers(4)

10

In [22]:
def factorial(num):
  total = 1
  for i in range(1, num + 1):
    total = total * i
  return total

factorial(5)

120

In [23]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

factorial(5)

120

In [14]:
def multiply(num1,num2):
  def sum_of_numbers(num3):
    return num3 + num3
  return sum_of_numbers(num2) * num1

multiply(2,3)

12

In [68]:
def multiply(num1=2,num2=3):
  def sum_of_numbers(num3):
    return num3 + num3
  return sum_of_numbers(num2) * num1

multiply()

12

In [74]:
print(multiply(10))
print(multiply(num1=10))
print(multiply(20,30))
print(multiply(num1=20,num2=30))
print(multiply(30))
print(multiply(num2=30))

60
60
1200
1200
180
120

In [38]:
def my_generator():
  n = 1
  yield n
  n += 1
  yield n
  n += 1
  yield n

my_generator()

In [31]:
for range in my_generator():
  print(range)

1
2
3

In [39]:
next(my_generator())

1

In [46]:
g = my_generator()

In [47]:
next(g)

1

In [48]:
next(g)

2

In [49]:
next(g)

3

In [50]:
next(g)

StopIteration:

In [51]:
def my_generator(start,last):
  n = start
  while n < last:
    yield n
    n = n + 1

In [52]:
g=my_generator(1,3)

In [53]:
for range in g:
  print(range)

1
2

In [54]:
g=my_generator(1,10)

for range in g:
  print(range)

1
2
3
4
5
6
7
8
9