<a href="https://colab.research.google.com/github/ArunKoundinya/AIBasicswithAK/blob/master/AI_Vlogs/slides/episode09/List_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list)

[1, 2, 3]

In [7]:
[1]+2

TypeError: can only concatenate list (not "int") to list

In [8]:
[1] + [2]

[1, 2]

In [5]:
my_list = [1, 2, 3]
another_list = [4, 5, 6]
my_list.extend(another_list)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [6]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 'a')
print(my_list)

[1, 2, 'a', 3, 4, 5]

In [17]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(0, 'a')
print(my_list)

['a', 1, 2, 3, 4, 5]

In [18]:
my_list.remove('a')
print(my_list)

[1, 2, 3, 4, 5]

In [19]:
my_list.remove(1)
print(my_list)

[2, 3, 4, 5]

In [20]:
my_list = [1, 2, 3, 4, 5]
popped_element = my_list.pop()
print(my_list)
print(popped_element)

[1, 2, 3, 4]
5

In [21]:
my_list.pop()

4

In [22]:
my_list

[1, 2, 3]

In [23]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()

In [24]:
my_list

[5, 4, 3, 2, 1]

In [25]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(len(my_list))
print(min(my_list))
print(max(my_list))

9
10
90

In [26]:
my_list = []
for i in range(5):
  my_list.append(i)

print(my_list)

[0, 1, 2, 3, 4]

In [27]:
my_list = [i for i in range(5)]
print(my_list)

[0, 1, 2, 3, 4]